body{
    background-color: black;
}
.containerArt {
    color:white;
    padding: 80px;
   }
   .btn {
    font-size: 30px;
    }
    .containerRenaissance{
        color:white;
    padding: 80px;
    }
    .containerBaroque{
        color:white;
        padding: 80px;
     }
     .email-link{
        color: white;
        text-align: center;
     }
     h2{
        font-size: 20px;
     }